## 1. 반복문

* 반드시 list, dict, set 등 집합에 대한 순회를 돌며 일을 처리할 때

In [5]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

mylist에 들어 있는 모든 값들을 출력하려고 할 때

In [6]:
print(mylist[0])
print(mylist[1])
print(mylist[2])
print('...')
print(mylist[8])
print(mylist[9])

1
2
3
...
9
10

머리가 나쁘면 몸이 고생한다 ...

## 2. for 와 in을 활용하자

**[문법]**<br>
for 하나씩 꺼내올 때 변수 in [꺼내올 집합]

In [7]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
for i in mylist:
  print(i)

1
2
3
4
5
6
7
8
9
10

## 3. 반복문에서 짝수만 출력하려면?

In [9]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
for i in mylist:
  if i%2 == 0:
    print(i)

2
4
6
8
10

**continue** 라는 구문을 통해 아래 로직은 SKIP할 수 있음.

In [15]:
for i in mylist:
  if i%2 == 1:
    continue
  print(i)

2
4
6
8
10

## 4. break로 조건에 해당하면 빠져나와보자!

In [16]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

i가 6 이상이면 STOP

In [17]:
for i in mylist:
  if i >= 6:
    break
  print(i)

1
2
3
4
5