## 1. List Comprehension

* for ~ in  구조
* List Comprehension이기 때문에 List를 사용

mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

이라는 list를 만들어 주고 이전에 이 중 짝수만 출력하고 싶을때는 아래와 같이 해줬었다.

In [29]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


# 코드를 입력하세요

for i in mylist:
  if i % 2 ==0:
    print(i)

2
4
6
8
10

그럼 mylist 이라는 list에서 짝수만 따로 list로 만들어 주고 싶을 때는 어떻게?

In [30]:
even = [] #빈 list를 만들어주기

for i in mylist:
  if i % 2 == 0:
    even.append(i)
print(even)

[2, 4, 6, 8, 10]

이렇게 for in 문으로 해줄 수 있음  
하지만, **list comprehension을 통해 더욱 쉽게 해결** 가능!!!

### 1-1. list comprehension 조건필터

한 줄로 해결해 버리는 것이 list comprehension의 매력

In [6]:
even = [i for i in mylist if i % 2 ==0] #맨 앞 i 주의

In [7]:
even

[2, 4, 6, 8, 10]

### 1-2. [STEP 1] list를 만들어 주어야 하니 일단 [] 씌워주기

In [31]:
even = [for i in mylist]

SyntaxError: ignored

for i in mylist 구문에서 반복문을 돌면서 i 값이 return 된다고 생각하고 그 변수를 list에 다시 넣어주는 원리

즉, i를 for 문 앞에 써주기

In [32]:
even = [i for i in mylist]

In [33]:
even

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 1-3. [STEP 2] 조건 필터를 걸어주기

In [34]:
even

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[i for i in mylist (이곳에 조건문)]

In [35]:
[i for i in mylist if i % 2 ==0]

[2, 4, 6, 8, 10]

이것을 변수에 다시 할당해주면 됨.

In [36]:
even = [i for i in mylist if i % 2 ==0]

In [37]:
even

[2, 4, 6, 8, 10]

### 1-4. [응용 STEP] 변수 값을 가공할 수도 있음

우선, 조건 필터는 배제하겠습니다.

In [39]:
even = [i for i in mylist]

In [40]:
even

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even 리스트에 있는 모든 값에 +2를 해보도록 하겠습니다.

In [41]:
even = [i+2 for i in mylist]

In [42]:
even

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]